/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@400;700&display=swap');
/*------------------------------------Colours*/
section {
    background-color: #131313;
    color: white;
    font-family: "Andika New Basic", sans-serif;
    overflow: hidden;
}
.website-header, footer {
    background-color: #BF9000;
}
/*------------------------------------General*/
.centre-heading {
    text-align: center;
    padding: 15px;
}
/*------------------------------------Special paddings/margins/text*/
h1,h2,h3,h4 {
    margin: 0;
}
.uppercase {
    text-transform: uppercase;
}
.general-sub {
    font-family: "Andika New Basic", sans-serif;
    font-weight: 400;
    color: white;
}
.container {
    padding: 15px;
    width: 100%;
}
/*------------------------------------Header*/
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
/*------------------------------------Help from https://stackoverflow.com/questions/15685666/changing-image-sizes-proportionally-using-css*/
.logo-container {
    width: 140px;
    height: 140px;    
}
.website-header {
    padding: 10px;
}
@media (max-width: 765px) {
    .logo-container {
        background: url(/assets/images/football-logo-background-1195-244.jpg);
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 100px;
        height: 100px;  
    }
}
/*------------------------------------Navbar*/
@media (min-width: 766px) {
    .button-location {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
    position: absolute;
    top: 50%;
    left: 85%;
}
}
@media (max-width: 765px) {
    .button-location{
    padding-top: 5px;
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
  /*------------------------------------btn-resp code used from bootstrap css for btn-sm*/
  .btn-resp {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  }
}
/*------------------------------------Next Fixture*/
.section-header {
    font-family: "Andika New Basic", sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 10px 0; 
}
.game-info {
    text-align: right;
}
.small-fixture {
    text-align: center;
    padding-top: 10px;
}
/*------------------------------------Club News*/
.club-news {
    font-weight: 500;
    padding-top: 10px;
    height: 250px;
    overflow: auto;
}
/*------------------------------------Gallery*/
.img-container {
    width:50%;
    height: 50%;
    padding: 10px 10px 20px 2.5%;
}
/*------------------------------------Social-Events*/
#social-events {
    background-image: url(/assets/images/football-stadium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    overflow: hidden;
    padding: 10px 0 0 10px;
}
#social-events div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 31.5%;
    height: 400px;
    float: left;
    padding: 30px 10px;
    text-align: center;
    margin: 6.5px;
    font-size: large;
}
#social-events h1 {
    font-size: xx-large;
}
#social-events h3 {
    font-size: x-large;
}
#social-events h4 {
        font-size: medium;
}
#social-events p {
    font-size: x-large;
}
@media (max-width: 765px) {
    #social-events div {
        width: 29%;
        padding: 5px;
        height: 350px;
    }
    #social-events {
        padding: 0;
    }
    #social-events h1 {
        font-size: large;
    }
    #social-events h2 {
        font-size: x-large;
    }
    #social-events h3, #social-events h4 {
        font-size: medium;
    }
    #social-events p {
        padding: 5px 0;
        font-size: medium;
        font-weight: 200;
    }
}
/*------------------------------------Footer*/
@media (max-width: 765px) {
    footer {
        font-size: medium;
    }
    .stadium-address {
        font-size: 150%;
        font-weight: bolder;
    }
}
footer {
    font-family: "Andika New Basic", sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: #BF9000;
    min-height: 120px;
    color: #0b0b0c;
    margin: 0;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.stadium-address{
    font-weight: 700;
}
.social-networks {
    text-align: center;
    padding-top: 30px;
}

.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 200%;
    margin-right: 1%;
    padding: 1%;
    color: #131313;
    text-align: center;
}
#footer-details {
    padding: 20px;
}
/*------------------------------------season.html*/
/*------------------------------------Results-Fixtures*/
.results-fixtures {
    height: 400px;
}
.results-fixtures p {
        padding: 10px 0 0;
    }
.last-results {
   padding: 10px 0;
   position: relative;
   top: 3%;
   text-align: center;
   width: 50%;
}
.next-fixtures {
    position: relative;
    left: 25%;
    bottom: 80%;
    text-align: center;
    width: 50%;
}
@media (max-width: 675px) {
    .results-fixtures {
        height: 200%;
    }
    
    .next-fixtures, .last-results {
        position: static;
        width: 100%;
    }
    .next-fixtures, .last-results p {
        font-size: small;
    }
}
/*------------------------------------Comments section*/
.club-comments {
    height: 600px;
}
.club-comments p {
    padding: 10px 0 0;
}
.comments-heading {
    text-align: center;
    padding: 20px 0 0;
    
}
.comments {
    text-align: left;
    width: 100%;
    height: 150px;
    overflow: auto;
}
@media (max-width: 675px) {
    .comments-heading {
    font-size: xx-large;
}
.captains-comments, .managers-comments {
    font-size: large;
    text-align: center;
}
.captains-comments p, .managers-comments p {
        font-size: small;
    }
}
/*------------------------------------Contact form section*/
.contact-section {
    height: 100vh;
}
.contact-form {
    height: 100%;
    position: relative;
    top: 10%;
    bottom: 10%;
}
.contact-heading {
    font-weight: 700;
    padding: 25px 0;
    font-size: xx-large;
}
.contact-header {
    font-size: larger;
}
.center-form {
    margin: 0 auto;
    max-width: 65%;
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
}
@media (max-width: 675px) {
.center-form {
    max-width: 80%;
}
button[type="submit"] {
    font-size: larger;
}
.contact-heading {
    font-size: xx-large;
}
}